<h2>Issued Books</h2>
<div class="container">  
    <table class="table table-striped table-hover table-bordered border border-dark ">
        <tr class="thead-dark" >
            <th >ID</th>
            <th>UserName</th>
            <th>BookDetails</th>
           </tr>
           <tr *ngFor="let user of users" >
             <td>{{user.id}}</td>
             <td>{{user.userName}}</td>
             <td>
               <ul *ngFor="let data of user.booksIssued ;let i = index">
                <b> Book {{i+1}}</b>
                 <li><b>ID:</b> {{data.bookId}}</li>
                 <li ><b>Title:</b> {{data.Title}}</li>
                 <li ><b>Issued Date: </b>{{data.IssuedDate}}</li>
                 <li *ngIf="data.RenewedDate!=null"><b>Renewed Date:</b> {{data.RenewedDate}}</li>
               </ul>
             </td>

             </tr>
      </table>
  </div>
