<h2>Issued Books</h2>
<div class="container">  
    <table class="table table-striped table-hover table-bordered border border-dark ">
        <tr class="thead-dark" >
            <th >ID</th>
            <th>UserName</th>
            <th>BookDetails</th>
           </tr>
           <tr *ngFor="let user of users" >
             <td>{{user.id}}</td>
             <td>{{user.userName}}</td>
             <td>
               <ul *ngFor="let data of user.booksIssued ;let i = index">
                <h3> Book {{i+1}}</h3>
                 <li >ID: {{data.bookId}}</li>
                 <li >Title: {{data.Title}}</li>
                 <li >Issued Date: {{data.IssuedDate}}</li>
                 <li *ngIf="data.RenewedDate!=null">Renewed Date: {{data.RenewedDate}}</li>
               </ul>
             </td>

             </tr>
      </table>
  </div>
