<div class="card">
<div class="card-header">
    {{pageTitle}}
  </div>


<div class="card-body">
    <form novalidate
          #bookForm="ngForm">
      <fieldset>
  <!-- TITLE -->
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="title">Book Title</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="title"
                   type="text"
                   placeholder="Name (required)"
                   required
                   minlength="3"
                   [(ngModel)]=book.bookTitle
                   name="bookTitle"
                   #bookNameVar="ngModel"
                   [ngClass]="{'is-invalid': (bookNameVar.touched || 
                   bookNameVar.dirty ||
                                              book.id !== 0) && 
                                              !bookNameVar.valid }" />
            <span class="invalid-feedback">
              <span *ngIf="bookNameVar.errors?.required">
                Title is required.
              </span>
              <span *ngIf="bookNameVar.errors?.minlength">
                Title must be at least three characters.
              </span>
            </span>
          </div>
        </div>

        <!-- ISBN -->
        <div class="form-group row">
            <label class="col-md-2 col-form-label"
            for="isbnId">ISBN</label>
            <div class="col-md-8">
                <input class="form-control"
                id="isbn"
                type="text"
                [(ngModel)]=book.isbn
                name="isbn"
               />
            </div>
          </div>

          <!-- AUTHOR -->
          <div class="form-group row">
              <label class="col-md-2 col-form-label"
              for="authorId">Author</label>
              <div class="col-md-8">
                  <input class="form-control"
                  id="author"
                  type="text"
                  [(ngModel)]=book.author
                  name="author" />
              </div>
            </div>

        <!-- GENRE -->
        <div class="form-group row">
            <label class="col-md-2 col-form-label"
            for="genreId">Genre</label>
            <div class="col-md-8">
                <input class="form-control"
                id="genre"
                type="text"
                [(ngModel)]=book.genre
                name="genre"
               />
            </div>
          </div>

         <!-- DESCRIPTION -->
        <div class="form-group row">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Description</label>
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      [(ngModel)]=book.description
                      name="description"></textarea>
          </div>
        </div>
         <!-- COST -->
         <div class="form-group row">
            <label class="col-md-2 col-form-label"
            for="cosrId">Cost</label>
            <div class="col-md-8">
                <input class="form-control"
                id="cost"
                type="text"
                [(ngModel)]=book.cost
                name="cost"
               />
            </div>
          </div>

        
      </fieldset>
    </form>

    <div class="row mb-2">
        <div class="col-md-4">
          <button class="btn btn-primary mr-3"
          style="width:60px"
                  type="button"
                  title="Save your entered data"
                  [disabled]="bookNameVar.invalid"
                  (click)="saveBook()">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
          style="width:80px"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/books']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this book"
                  (click)="deleteBook()">
            Delete
          </button>
        </div>
      </div>
  </div>
  
  <div class='alert alert-danger'
       *ngIf='errorMessage'>{{errorMessage}}
  </div>

</div>